<!-- 学習記録一覧 -->
<div class="bg-white rounded-3xl shadow p-6 mt-6 w-full">
  <h2 class="text-xl font-bold mb-4">学習記録</h2>
    <div class="overflow-x-auto">
        <%= render 'shared/study_sessions_table', study_sessions: @study_sessions %>
    </div>
</div>